.gooderror {
    color: rgb(1, 172, 35);
    background: rgb(235, 235, 235);
    font-size: 20px;
    border: 1px solid rgb(1, 172, 35);;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .baderror {
    color: red;
    background: rgb(235, 235, 235);
    font-size: 20px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }